<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rest API Generator</title>
</head>
<body>
    <form action="test" method="POST">
        <p>
            <label>Name: </label>
            <input type="text" name="name">
        </p>
        <p>
            <input type="submit" formaction="test" value="Generate RESTful API">
        </p>
    </form>
</body>
</html>