<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rest API Generator</title>
</head>

<body>
    <header>
        <h1>Web API Generator</h1>
        <p>
            Web API Generator is a webapp that allows you to generate a Web API with a MongoDB connection string and
            push it to Github in a click.
        </p>
        <p>Initially the main purpose of this webapp was to learn Node, Mongo, Laravel, React and integrate Github
            API. However it can be used by any software developer to speed up work.</p>
    </header>

    <% if(token){ %>
    <div style="border-style: double">
        <p>
            Ola,
            <%= name %>!
        </p>
        <form action="generate" method="POST">
            <p>
                <label for="appName">Github Repository Name</label>
                <input id="appName" type="text" name="appName" value="<%=appName%>">
            </p>
            <p>
                <label>MongoDb Connection String</label>
                <input type="text" name="uri" value="<%=defaultConnectionString%>">
            </p>
            <p>
                <label for="protect">Protect with token</label>
                <input checked type="checkbox" name="protect">
            </p>
            <p>
                <input type="submit" value="Generate RESTful API">
                <input type="submit" formaction="generateGraphQL" value="Generate GraphQL API">
                More details will be on the README.md file created in the Github repository.
            </p>
        </form>
    </div>
    <% } else {  %>
    <p>
        <a id="loginBtn" href='https://github.com/login/oauth/authorize?client_id=<%=clientId%>&scope=repo'>Sign in
            with Github</a>
    </p>
    <% } %>

    <footer>
        <p>
            Contact: 8140309@estg.ipp.pt
        </p>
    </footer>

    <script src="client.js"></script>
</body>

</html>